#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 50px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #999999;
  }
  button {
    color: #000000;
    background-color: #f9f9f9;
    border-color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fafafa;
    background-color: #1f1f1f;
  }
  button {
    color: #f9f9f9;
    background-color: #1f1f1f;
    border-color: #fafafa;
  }
}